name: Continuous Integration Tests PR
on:
  pull_request:
    branches:
      - main
    types:
      - opened
      - synchronize
      - reopened
      - ready_for_review

jobs:
  build:
    name: Ex1 (${{ matrix.os }})
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0  # 0 indicates all history for all branches and tags
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
       python-version: 3.12
    - name: Install dependencies
      run: |
          python --version
          python -m pip install --upgrade pip
          pip install pytest pytest-cov pytest-flakefighters
    # - name: Setup tmate session
    #   uses: mxschmitt/action-tmate@v3
    - name: Test with pytest
      run: |
        pytest # Test should pass
        pytest # Test should fail
